html {
  background: black;
}

body {
  background-color: transparent;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255, 0.9);
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  opacity: 0.5;
  font-size: 1.25em;
  font-weight: 500;
  font-family: inherit;
}

button:hover {
  opacity: 0.75;
  border: none;
}

button:focus {
  outline: none;
}

input {
  border: 0;
  background-color: transparent;
  color: rgb(255, 255, 255, 0.9);
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

input:focus {
  outline: none;
  border: none;
}

/* Login */

.login {
  position: absolute;
  top: 30%;
  transform: translate(-50%);
}

.login input {
  border-bottom: 2px solid rgb(255, 255, 255, 0.5);
  margin: 5px;
}

.login input:focus {
  border-bottom: 2px solid rgb(255, 255, 255, 0.7);
}

.login button {
  width: 250px;
}

.submit-button {
  position: absolute;
  transform: translate(-50%);
  top: 220px;
}

.register-button {
  position: absolute;
  transform: translate(-50%);
  top: 260px;
}


/* ToDo */
.logout-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.parent {
  position: absolute;
  top: 15%;
  transform: translate(-50%);
}

.todo,
.additem {
  display: grid;
  grid-template-columns: 50px 400px 50px;
  width: 500px;
  margin-bottom: 15px;

}

.parent button {
  width: 50px;
}

.parent img {
  width: 30px;
  height: 30px;
}

.additem {
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(255, 255, 255, 0.5);
}

.additem:hover {
  border-bottom: 2px solid rgb(255, 255, 255, 0.7);
}

.additem-input {
  grid-area: 1 / 1 / 2 / 3;
}



.additem-button {
  grid-area: 1 / 3 / 2 / 4;
}

.todo {
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 8px;
}

.todo:hover {
  border: 2px solid rgb(255, 255, 255, 0.6);
}

.todo-checkbox {
  grid-column: 1;
  width: 20px;
  cursor: pointer;
  justify-self: center;
}

.todo-description {
  grid-column: 2;
  display: flex;
  align-items: center;
  text-align: left;
  overflow: hidden;
  cursor: default;
  padding: 10px;
  border-right: 2px solid rgb(255, 255, 255, 0.1);
  border-left: 2px solid rgb(255, 255, 255, 0.1);

}

.todo-description.completed {
  text-decoration: line-through;
}

.todo-delete {
  padding: 10px;
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: center;

}